@import "tailwindcss";

/* .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}
.VIpgJd-suEOdc  {
    display: none !important;
}

.VIpgJd-ZVi9od-ORHb {
    display: none !important;
}

body {
    top: 0px !important;
}

.notranslate {
    translate: no !important;
} */